<?xml version = "1.0" encoding="Windows-1252" standalone="yes"?>
  <connection>
	<name>narvalv</name>			 
	<description>narvalv test_server</description>			 
	<type>connection</type>	
	<conn_str>DRIVER=PostgreSQL Unicode;DATABASE=narvalv;server=dbarch.narva.ee;PORT=5436;MaxVarcharSize=254;</conn_str>  
  </connection>
