<?xml version = "1.0" encoding="Windows-1252" standalone="yes"?>
<VFPData>
	<connection>
		<name>narvalv_db</name>
		<description>uus narvalv db</description>
		<type>connection</type>
		<conn_str>DRIVER=PostgreSQL Unicode;DATABASE=db;server=80.235.127.119;PORT=5438;MaxVarcharSize=254;</conn_str>
		<app_name>
			Raamatupidamine 7.0
		</app_name>
	</connection>
</VFPData>