<?xml version = "1.0" encoding="Windows-1252" standalone="yes"?>
<VFPData>
  <grid>
    <sql>SELECT
                      $2 AS user_id,
                      c.*
                    FROM ou.config c
                          where c.rekvid IN (SELECT rekv_id
                                       FROM get_asutuse_struktuur($1::integer))</sql>
    <alias>curConfig</alias>
  </grid>
  <select>
    <sql>SELECT
                'CONFIG'     AS doc_type_id,
                $2::INTEGER AS userid,
                c.id,
                c.rekvid,
                coalesce(c.number,'')::VARCHAR(20) as number,
                coalesce((u.properties-&gt;&gt;'keel')::integer,2)::integer as keel,
                coalesce((u.properties-&gt;&gt;'port')::varchar(100))::varchar(100) as port,
                coalesce((u.properties-&gt;&gt;'smtp')::varchar(100))::varchar(100) as smtp,
                coalesce((u.properties-&gt;&gt;'user')::varchar(100))::varchar(100) as user,
                coalesce((u.properties-&gt;&gt;'pass')::varchar(100))::varchar(100) as pass,
                coalesce((u.properties-&gt;&gt;'email')::varchar(254))::varchar(254) as email,
                coalesce((c.properties-&gt;&gt;'earved')::varchar(254))::varchar(254) as earved,
                c.tahtpaev
              FROM ou.config c, ou.userid u
              WHERE c.rekvid = $1 and u.id = $2</sql>
    <sqlAsNew>SELECT
                      $1 :: INTEGER         AS id,
                      $2 :: INTEGER         AS userid,
                      'CONFIG'              AS doc_type_id,
                      0 :: INTEGER          AS rekvid,
                      '' :: VARCHAR(20)   AS number,
                      1 :: integer          AS keel,
                      ''::varchar(254) as port,
                      ''::varchar(254) as smtp,
                      ''::varchar(254) as user,
                      ''::varchar(254) as pass,
                      ''::varchar(254) as email,
                      ''::varchar(254) as earved,
                      5::integer as tahtpaev</sqlAsNew>
    <query />
    <multiple>false</multiple>
    <alias>row</alias>
  </select>
  <selectAsLibs>
    <sql></sql>
    <alias>selectAsLibs</alias>
  </selectAsLibs>
  <saveDoc>
    <sql>select ou.sp_salvesta_config($1::json, $2::integer, $3::integer) as id</sql>
    <alias>saveDoc</alias>
  </saveDoc>
  <deleteDoc>
    <sql />
    <alias>deleteDoc</alias>
  </deleteDoc>
  <requiredFields>
    <validate></validate>
  </requiredFields>
  <executeSql>
    <sql></sql>
    <alias></alias>
  </executeSql>
  <executeCommand>
    <sql></sql>
    <alias></alias>
  </executeCommand>
  <register>
    <sql></sql>
    <alias></alias>
  </register>
  <endProcess>
    <sql />
    <alias />
  </endProcess>
  <generateJournal>
    <sql />
    <alias />
  </generateJournal>
  <print></print>
</VFPData>
